<div class="container">
  <div class="nodes">
    <div class="tree_view">
      <span id=<%= @root.id %>><%= @root.value %></span>
      <ul class="ancestry">
        <%= render @root.children %>
      </ul>
    </div>
  </div>

  <%= link_to ">>>", '#', :class => 'button export' %>

  <div class="cached_nodes">
    <div class="tree_view">
      <%= render partial: 'cached_nodes/list', locals: { cached_nodes: @cached_nodes} %>
    </div>
  </div>
</div>

<%= link_to "Add", '#', :class => 'button new operate' %>
<%= link_to "Delete", '#', :class => 'button delete operate' %>
<%= link_to "Edit", '#', :class => 'button edit operate' %>
<%= link_to "Apply", apply_path, :class => 'button apply' %>
<%= link_to "Reset", reset_path, :class => 'button reset' %>
